Repository neuralmagic/nm-vllm-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

black:
  name: black
  language: system
  entry: black
  args:
  - --preview

flake8:
  name: flake8
  language: python
  entry: flake8p
  additional_dependencies:
  - flake8-typing-imports
  - flake8-comprehensions
  - flake8-eradicate
  - flake8-spellcheck
  - dlint
  - darglint
  - mccabe
  - pep8-naming

removestar:
  name: removestar
  language: system
  entry: removestar
  args:
  - --in-place

safety-production-dependencies-check:
  name: Safety production dependencies check
  entry: safety
  args:
  - check
  - --policy-file=.safety-policy.yml
  - --full-report
  - --file
  language: system

Add basic package skeleton
  .github/workflows/check-quality-and-tests.yml
  .gitignore
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  .pre-commit-config.yaml
  .safety-policy.yml
  LICENSE
  Makefile
  README.md
  nm_vllm_utils/__init__.py
  nm_vllm_utils_test/import_test.py
  pyproject.toml
  requirements.txt
  whitelist.txt
Due: black, flake8, removestar, safety-production-dependencies-check

Add license badge to README.md
  README.md
Due: none

Fix LICENSE boilerplate
  LICENSE
Due: none

- Added benchmark serving
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

- Added some general refactoring
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

- Added some general refactoring
  nm_vllm_utils/benchmarks/backend_request_func.py
  nm_vllm_utils/benchmarks/benchmark_serving.py
  requirements.txt
Due: black, flake8, removestar, safety-production-dependencies-check

- Added some general refactoring
  requirements.txt
Due: safety-production-dependencies-check

- Added some general refactoring
  nm_vllm_utils/benchmarks/backend_request_func.py
Due: black, flake8, removestar

- Added some general refactoring
  pyproject.toml
Due: none

- Added some general refactoring
  nm_vllm_utils/benchmarks/backend_request_func.py
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

Don't ignore missing imports
  nm_vllm_utils/benchmarks/benchmark_serving.py
  nm_vllm_utils/py.typed
  nm_vllm_utils_test/py.typed
  pyproject.toml
Due: black, flake8, removestar

Declare intent to support types
  nm_vllm_utils/py.typed
  nm_vllm_utils_test/py.typed
Due: none

Add missing requirement
  requirements.txt
Due: safety-production-dependencies-check

- Added some general refactoring
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

Path conditions:
  black: any of: \.py$, but not: docs|.git|.tox
  flake8: any of: \.py$, but not: docs|.git|.tox
  removestar: any of: \.py$, but not: docs|.git|.tox
  safety-production-dependencies-check: any of: requirements.txt, but not: docs|.git|.tox
