Repository neuralmagic/nm-vllm-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, removestar, safety-production-dependencies-check

.pre-commit-config.yaml:

exclude: 'docs|.git|.tox'
default_stages: [commit]
default_language_version:
  python: python3
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["--preview"]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8p
        types: [python]
        additional_dependencies:
          - flake8-typing-imports
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - dlint
          - darglint
          - mccabe
          - pep8-naming
      - id: mypy
        args: ["nm_vllm_utils", "nm_vllm_utils_test"]
        entry: mypy
        language: system
        name: Mypy check
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: system
      - id: removestar
        name: removestar
        language: system
        entry: removestar
        args: ["--in-place"]
        types: [python]
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [check, --policy-file=.safety-policy.yml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: README.md
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']
      - id: requirements-txt-fixer
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

- Added some general refactoring
  requirements.txt
Due: safety-production-dependencies-check

- Added some general refactoring
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

Upgrade pip as part of workflow
  .github/workflows/check-quality-and-tests.yml
Due: none

Upgrade outlines to address vulnerability
  requirements.txt
Due: safety-production-dependencies-check

Fix style
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

Temporarily ignore vulnerability we can't address because of vllm
  .safety-policy.yml
  requirements.txt
Due: safety-production-dependencies-check

Remove unused type ignore comment
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar

Fix style again
  nm_vllm_utils/benchmarks/benchmark_serving.py
Due: black, flake8, removestar
